
#main-pane {
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-background-insets: 0 5 5 0,0,0;
}

#background-pane {
	-fx-background-color: #5c5656;
}

#title {
	-fx-font-family: "Helvetica";
    -fx-text-fill: #FFFFFF;
    -fx-alignment:center;
    -fx-font-size: 30 px;
    -fx-background-color: #3c3c3c;
}

#prompt-label {
	-fx-font-family: "Helvetica";
    -fx-text-fill: #FFFFFF;
    -fx-alignment:center;
    -fx-font-size: 20 px;
    -fx-background-color: #3c3c3c;
}

#register-pane {
	-fx-background-color: red;
}
