/**
 * @author Bobby Palmer, Samnang Pann
 * Tab default CSS
 */


#main-pane {
	-fx-background-color: #3c3c3c;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-background-insets: 0 5 5 0,0,0;
}

#background-pane {
	-fx-background-color: #5c5656;
}

#title {
	-fx-font-family: "Futura";
    -fx-text-fill: #FFFFFF;
    -fx-alignment:center;
    -fx-font-size: 30 px;
    -fx-background-color: #3c3c3c;
}

.label {
	-fx-font-family: "Futura";
    -fx-text-fill: #FFFFFF;
    -fx-alignment:center;
    -fx-font-size: 16 px;
}

#big-label {
	-fx-font-size: 42 px;
}

#prompt-label {
	-fx-font-family: "Futura";
    -fx-text-fill: #FFFFFF;
    -fx-alignment:center;
    -fx-font-size: 20 px;
    -fx-background-color: #3c3c3c;
}

#register-pane {
	-fx-background-color: red;
}

#log-in {
	-fx-border-color: #FFFFFF;
	-fx-border-radius: 12 12 12 12;
	-fx-background-radius: 12 12 12 12;
	-fx-border-width: 2 2 2 2;
	-fx-background-color: #c63d3d;
	-fx-font-family: "Futura";
    -fx-font-size: 26 px;
    -fx-font-weight: 100;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5 40 5 40;
}

#log-in:hover {
	-fx-background-color: #FFFFFF;
	-fx-text-fill: #c63d3d;
	-fx-border-color: #c63d3d;
}

#clear-button {
	-fx-border-color: #FFFFFF;
	-fx-border-width: 1;
	-fx-border-radius: 12 12 12 12;
	-fx-background-color: transparent;
	-fx-font-family: "Futura";
    -fx-font-size: 12 px;
    -fx-font-weight: 100;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 0;
}

.scroll-pane {
    -fx-background-color: #3c3c3c;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #3c3c3c;
}